body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fcdfe5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 750px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-section {
    flex: 1;
    background-color: #f9e0e8;
}

.flowers-image {
    width: 180%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    flex: 1.3;
    padding: 30px;
    background-color: #ffe6ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2,
h4 {
    margin: 0;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 1.9rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #070707;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 0.9rem;
    width: 100%;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.reset-button {
    margin-top: 20px;
    background-color: #ff99a6;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.reset-button:hover {
    background-color: #e48894;
}