body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fcdfe5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 850px;
  height: 750px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-section {
  flex: 1;
  background-color: #f9e0e8;
}

.flowers-image {
  width: 315%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  flex: 1.3;
  padding: 30px;
  background-color: #ffe6ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.9rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 16px;
  color: #070707;
  font-weight: bold;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: calc(100% - 30px);
  /* Adjust width to accommodate the icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.9rem;
}

.register-button {
  margin-top: 15px;
  background-color: #ff99a6;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #e48894;
}

.login-link {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #0c0c0c;
}

.login-link a {
  color: #ee0c27;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .image-section {
    height: 200px;
  }

  .form-section {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .register-button {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .form-section {
    padding: 15px;
  }

  .flowers-image {
    width: 315%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 1.2rem;
  }

  label {
    font-size: 14px;
  }

  input {
    padding: 8px;
    font-size: 0.8rem;
  }

  .register-button {
    font-size: 0.8rem;
    padding: 7px;
  }
}